<!DOCTYPE html>
<html>
    <head>
        <title>Paczuczusie</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">   
        <script src="/static/js/year.js" defer></script>     
      </head>
     
<body>
  <div class="navbar">
    <a href="/">Home</a> 
      <a href="/sender/sign-up">Sign-in</a> 
  </div>
  <img src = "/static/paczusie.png" class="middle">

    <header class="mid">
        <h1>PACZUSIE- Karol Brzeziński</h1>         
    </header>
    <div class="mid">
    <h3>Doskonała firma mająca swoje korzenie w już w przedwojennej Polsce, dostarczy paczusię na cały kraj najszybciej spośród konkurentów! 
      Mamy najlepsze ceny na rynku, a nasi dostarczyciele są najlepiej ocenianymi w Europie. </h3>  
  </div> 
  <div class="mid">
    <h3>SKORZYSTAJ JUŻ DZIŚ! </h3>  
  </div>
  
  <footer class="right">
    &copy; <span id="year"></span>
    <a href="https://github.com/brzezinskik/Paczusie">Git</a>
  </footer>
</body>
</html>